@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Naas<br />
    Kildare<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Information:</strong>   <a href="mailto:naturallydevinehe@gmail.com">Information</a><br />
    <strong>Make a consultation appointment:</strong> <a href="mailto:naturallydevinehe@gmail.com">Colour Match Appointments</a>
</address>